    <div class="new-contents">
        <div class="link-2">
            <a href="/posts/index"><btn class="btn btn-lg btn-outline-secondary">投稿一覧</btn></a>
        </div>
        <div class="form-title">
            <h2>ユーザー登録</h2>            
        </div>
            <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
        <%= form_tag("/users/create", {multipart: true}) do %>  
                <div class="user_images">
                    <div class="question"><h3>ユーザー画像：</h3></div>
                    <!--<div class="answer">-->
                    <!--    <input type="file" name="user_images" value="<%= "/user_images/#{@user.user_images}" %>">-->
                    <!--</div>-->
                    <div class="answer">
                            <%= select_tag 'genre', options_for_select([["猫", "/cat.jpg"], ["男性", "/male.jpg"], ["女性", "female.jpg"]], :selected => "猫") %>
                    </div>  
                </div>
                <div class="email">
                    <div class="question"><h3>メールアドレス：</h3></div>
                    <div class="answer">
                        <input type="text" name="email" value="<%= @user.email %>">
                    </div>
                </div>
                <div class="name">
                    <div class="question"><h3>ユーザー名：</h3></div>
                    <div class="answer">
                        <input type="text" name="name" value="<%= @user.name %>">
                    </div>
                </div>
                <div class="password">
                    <div class="question"><h3>パスワード：</h3></div>
                    <div class="answer">
                        <input type="password" name="password" value="<%= @user.password %>">
                    </div>
                </div>
                <div class="float2">
                    <div class="submit">
                        <input type="submit" value="登録">
                    </div>
                    <br>
                </div>
            </div>
        <% end %>
    </div>